<div class="footer">
    <div class="container d-flex flex-column align-self-center">
        <div class="copyright mt-4">
            <p>
                © 2023 MJ Fabricology, All rights reserved.
            </p>
        </div>
        <div class="text text-center mt-2">
            <p>
                THE STUFF OUR LAWYERS WANT US TO SAY: MJ Fabricology is a Registered Investment Advisor. Content
                presented on this website is for informational and educational purposes only and does not intend to make
                an offer or solicitation for the sale or purchase of any specific securities product, service, or
                investment strategy. Information on this website is not intended to be comprehensive tax advice or
                financial planning advice for any particular client investment needs. Be sure to consult with a
                qualified financial or investment adviser (that's us), tax professional or attorney before implementing
                any strategy or recommendation discussed herein. Investing involves risk, including the loss of
                principal. There…we said it.
            </p>
        </div>
    </div>
</div>