<div class="container-fluid">

    <div class="nav d-flex justify-content-between">
        <div class="logo">
            <img class="my-2" src="../../assets/MJ.png" alt="Logo">
        </div>

        <div class="nav-links">
            <ul class="nav-items d-flex justify-content-between text-center">
                <li class="nav-item mx-5 my-4"><a routerLink="service">Services</a></li>
                <li class="nav-item mx-5 my-4"><a routerLink="about">Why Us?</a></li>
                <li class="nav-item mx-5 my-4"><a routerLink="contact">Contact Us</a></li>
                <li class="nav-item mx-5 my-4"><a class="get-started" routerLink="">Get Started</a></li>
            </ul>
        </div>
    </div>
</div>