.nav-items {
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
}

.nav-item {
    list-style: none;
}

.get-started {
    background-color: #23257A;
    border-radius: 20px;
    padding: 5px 20px;
}

@media (max-width:900px) {
    .logo {
        display: none;
    }
}

.container-fluid {
    border-bottom: 2px solid white;
}

/*  */