<div class="home">

    <div class="text d-flex flex-column text-center mt-5 ms-5">
        <p class="text1"><strong>We assist growing <br> <br> businesses in India <br><br> and overseas</strong></p>
        <br><br>
        <p class="text2 ms-5">We Offer Novel Financing options for <br><br>
            <span>Start-ups</span>, <span>Corporate</span> & <span>Small Businesses</span>
        </p>
        <br><br>
        <p class="text3 ms-5 text-center">
            We are a one stop shop to weave your <br><br> financial needs.
        </p>
    </div>
    <div class="image">
        <img src="../../assets/output-onlinepngtools.png" alt="">

    </div>

</div>
<div class="section2">
    <div class="our">Our Services</div>
    <img class="image2" src="../../assets/section2.jpg" alt="" height="600px" width="1400px">
    <div class="s2t2 d-flex justify-content-between">
        <div class="t1 d-flex flex-column">
            <p> PURCHASE OR LEASE A STANDBY LETTER OF CREDIT
            </p>
            <p>MONETIZING BANK GUARANTEES
            </p>
            <p> LONG TERM LOANS
            </p>
            <p>ASSISTANCE IN SETTING UP COMPANIES <br> ABROAD THROUGH OUR CHANNEL PARTNERS
            </p>
        </div>
        <div class="t1 d-flex flex-column">
            <p> PROVIDING BANK GUARANTEES </p>
            <p> PROVIDING DOCUMENTARY LETTERS OF CREDIT
            </p>
            <p> SET-UP ASSISTANCE IN INDIA </p>
            <p> COMPANY LAW AND TAXATION SERVICES IN INDIA
            </p>

        </div>
    </div>
</div>